* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #f2f2f2;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.el-drawer__header {
  color: #f2f2f2 !important;
  margin-bottom: 0px !important;
}

/* 修复 iframe 中 dialog 宽度问题 */
.el-dialog {
  width: 800px;
  max-width: 90vw;
}

.el-dialog__header {
  color: #f2f2f2 !important;
  padding-bottom: 10px !important;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动块 */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}

/* 悬停状态下滚动块 */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 5px;
}

/* 滚动条轨道悬停状态 */
::-webkit-scrollbar-track:hover {
  background: #ccc;
}

/* 滚动条角落 */
::-webkit-scrollbar-corner {
  background: #eee;
}

.database-setting {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .database-setting-btn {
    width: 100%;
    padding: 10px;
  }

  .setting-tabs {
    width: 100%;
    height: 100%;

    .el-tab-pane {
      height: 100%;
    }
  }

  .tab-content-main {
    padding: 0 50px;
  }

  .form-row {
    display: flex;
    gap: 10px;
  }
  .form-input {
    width: 360px;
  }
}

.el-image {
  border-radius: 4px;
}

.element-rotating {
  animation: rotate360 2s linear infinite;
}

.el-form-item__label {
  pointer-events: none;
  user-select: none;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
    /* 初始角度 */
  }

  to {
    transform: rotate(360deg);
    /* 结束角度 */
  }
}

.custom-backtop {
  position: absolute !important;
}
